<header class="bg-gray-800 text-white py-4">
  <div class="container mx-auto flex justify-center items-center">
    <!-- Centered Logo -->
    <img src="/susesos-app/images/logo.svg" alt="Logo" class="h-12 w-auto mr-4" />

  </div>
</header>
